# NGINX
#
HOSTNAME=localhost

# XI
#
DB_CONTAINER=db
DB_NAME=mydb
COLLECTION_NAME=records

SITE_ROOT=xi
SITE_NAME=Experience Index

##This should be a Bootstrap 4.5 compatible color value e.g. bg-primary, bg-dark, bg-info
#
SITE_COLOR=bg-info

# Whether or not to enforce an exactness requirement for filtering by URL and COMPETENCY
# with the XI entries. 
#
# Can be 0 or 1
#
EXACT_RESOLUTION_MATCH=0

# Secret for interacting with the XI API from outside of an SSO context
#
API_SECRET=some-long-secret